@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    font-family: "Public Sans", sans-serif;
    font-size: 1.2rem;
  }

.grid-container {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;

    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 'barralat sec1 sec2'
    'barralat sec3 sec4';
}

.section {
    text-align: center;
    border: 3px solid black;
}

.sidebar {
    text-align: center;
    border: 3px solid black;
}

#aside {grid-area: barralat; background-color: red;}
#section1 {grid-area: sec1; background-color: aqua;}
#section2 {grid-area: sec2; background-color: blueviolet;}
#section3 {grid-area: sec3; background-color: greenyellow;}
#section4 {grid-area: sec4; background-color: yellow;}